<strong> Olá, {{ organizer }}</strong>
<p>Nova inscrição no evento de Meetup</p>
<p>
  <strong>Inscrito: </strong> {{ user }}<br />
  <strong>Email:</strong> {{ email}}<br />
  <strong>Data/hora: </strong> {{ date }}<br />
  <br />
  <small>
    <strong>Informações do evento Meetup</strong> <br />
    <strong>Titulo</Title>:</strong> {{title}} <br />
    <strong>Descrição:</strong> {{description}} <br />
    <strong>Local:</strong> {{locate}} <br />
    <strong>Data:</strong> {{dataEvent}} <br />
  </small>
</p>
